.DogBox {
    align-items: center;
    display: flex;
    width: 400px;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.DogName {
    font-weight: bolder;
}
.DogHeader {
    font-weight:bold;
}
.DogDescription {
    font-weight: lighter;
}