@font-face {
    font-family: "Chivo";
    src: url("../../fonts/Chivo-Regular.ttf");
}

.item2 {
    font-family: Chivo;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.8px;
    background-color: #FEFEFE;
    width: 149px;
    height: 45px;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}